<!--コメントフォーム-->
<div class="bg-white p-3" >
  <h5><b>コメントする</b></h5>
  
   <%= form_for(@eventpost_comment) do |f| %>
        <%= hidden_field_tag :eventpost_id, @eventpost.id %>
        
        <!--エラーメッセージ-->
        <%= render 'shared/error_messages', object: f.object %>
        
        <!--テキストフィールド-class: 'form-control ', id:"exampleFormControlTextarea1" %>->-->
        <label class="mt-2">ユーザー名:</label>
        <%= f.text_field :user_name, class: 'border w-100 p-1',"rows" => 3 , placeholder: "名前を入力して下さい" %>
        
        <%= f.text_area :content, class: 'border w-100 p-1 mt-3',"rows" => 5 , placeholder: "コメントを入力して下さい" %>
       
        <!--送信ボタン-->
        <div class="text-right">
          <%= f.submit "コメント送信", class: "btn btn-dark  mt-3" %>
        </div>
  <% end %>
</div>