<!--人気記事一覧-->
<% @populer_eventposts = Eventpost.popular_eventposts_2 %>
<% @populer_eventposts.each do |eventpost| %>

  <%= link_to eventpost do %>
        <div class="gb-dark p-1" id="pop_div">
          <div class="border-black" id="event_image">
            <!--// 画像があるときは画像を表示する-->
            <% if eventpost.image.present? %>
              <%= image_tag(eventpost.image.url , class:"image_form" ,id:"link-image", width:"100%" ,height:"130") %>
            <% else %>
              <%= image_tag("no_image.jpg" , class:"image_form" ,id:"link-image", width:"100%" ,height:"130") %>
            <% end %>
            
            <small class="s-text"><b>コメント<%= eventpost.eventpost_comments.count %></b></small>
            <div class="bg-black">
              <small class="p-1" id="pop1_title" ><b><%= eventpost.title %></b></small>
            </div>
          </div>
        </div>
  <% end %>
  
<% end %>


<style>

#event_image {/*親div*/
  position: relative;/*相対配置*/
  }

#event_image .s-text {
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  background-color: black;
  top: 0;
  right: 0;
  }
  
  #pop1_title {
  position: absolute;
  color: white;
  background-color: black;
  bottom: 0;
  right: 0;
  left:0;
  }

</style>