
<!--トップ画-->
<%= render "layouts/top_image"%>


<!--メインバー-->
<%= render "layouts/main_bar"%>


<div class="conteiner">

  
  <!--ヘッドライン-->
  <div class="mt-2 mb-2">
    <%= render "static_pages/popular3" %>
  </div>

  <div class="row"> 
  
      <!--サイドバー-->
      <div class="col-2 pr-1">
      
        <!--blogs-->
        <%= render "static_pages/blogs" %>
        <p class="bg-black text-white p-2">人気の記事</p>
        <%= render "static_pages/popular" %>
      </div>
      
      
      <!--メイン-->
      <div class="col-7 pl-2 pr-0">
        <!--ヘッドライン-->
        <%= render "static_pages/headline" %>
        
        
        <!--最新の記事-->
        <% if @eventposts.any? %>
        　<%= render @eventposts %>
        　<%= paginate @eventposts, window: 2 %>
        <% else %>
          <p><b>まだ記事がありません</b></p>
      　<% end %>
      　
      </div>
      
      <!--サイドバー-->
      <div class="col-3 pr-3 pl-3 col-md-offset-1">
      
        <!--管理人プロフィール-->
        <div class="bg-black text-white p-2">管理人</div>
        <%= render "static_pages/admin"%>
        
        <!--記事の検索-->
        <div class= "">
          <%= render "static_pages/search_form"%>
        </div>
        
        <!--人気記事一覧　-->
        <p class="bg-black text-white p-2 mt-3">人気の記事</p>
        <div class="">
          <%#= render "static_pages/popular3" %>
          <%= render "static_pages/feed" %>
        </div>

        <!--カテゴリー-->
        <div>
          <%= render "categorys/categorys"%>
      　</div>
      　
      　<!--アーカイブ-->
      　<div>
          <%= render "static_pages/archives"%>
      　</div>
      </div>
      
  </div>
</div>