
<!--トップ画-->
<%= render "layouts/top_image"%>

<!--メインバー-->
<%= render "layouts/main_bar"%>



<div class="container">

  <h1>StaticPages#home</h1>
  <p>Find me in app/views/static_pages/home.html.erb</p>
  <!--ヘッドライン-->
  <%#= render "static_pages/headline"%>
  

  <div class="row"> 
  
      <div class="col-2 ">
        <p class="bg-black text-white p-1">人気の記事</p>
        <%= render "static_pages/popular" %>
      </div>
      
      <div class="col-7 border-bottom">
      
        <!--最新の記事-->
        <p  class="bg-black text-white p-1">最新の記事</p>
        
        <% if @eventposts.any? %>
        　<%= render @eventposts %>
        　<%= paginate @eventposts, window: 2 %>
        <% else %>
          <p><b>まだ記事がありません</b></p>
      　<% end %>
      　
      </div>
      
      <div class="col-3 pr-3 pl-3">
      
        <!--管理人プロフィール-->
        <div class="bg-black text-white p-1">管理人</div>
        <%= render "static_pages/admin"%>
      　
        <!--記事の検索    -->
      　<div class= "">
        　<%= render "static_pages/search_form"%>
      　</div>
        　
        <!--人気記事一覧　-->
        <p class="bg-black text-white p-1">人気の記事</p>
        <div class="bg-light">
          <% 5.times do %>
            <%= render "static_pages/feed" %>
          <% end %>
        </div>
        
        <!--カテゴリー-->
        <div>
          <%= render "categorys/categorys"%>
      　</div>
      　
      　<!--アーカイブ-->
      　<div>
          <%#= render "static_pages/archives"%>
      　</div>
      　
      </div>
  </div>
</div>



<!--ルートページと似たViewをもつページは-->
<!--static_pages/home.html.erb -->
<!--categorys/show.html.erb-->
<!--archive.html.erb-->
<!--search.html.erb-->

<!--eventpostはコメントがはいるので違うページとする-->
<!--eventposts/show.html.erb-->