<!--トップ画-->
<%= render "layouts/top_image"%>

<!--メインバー-->
<%= render "layouts/main_bar"%>


<div class="conteiner">

  <%= render "shared/status_bar"%>

  <div class="row"> 
  
  
      <div class="col-3 ">
        <p class="border-bottom"><b>ユーザープロフィール</b></p>
        
        <% if @user %>
            <!--ユーザープロフィール-->
            <%= render @user %>
            
            <!--ユーザーステータス--> 
            <%= render "users/user_status" %>
        <% end %>
        
      </div>
      
      <div class="col-7 border-bottom">
        <p class="border-bottom"><b>メッセージ一覧 (最大45件のメッセージ)</b></p>
        <% if @messages.any?  %>
          <div class="alert alert-success mt-2" role="alert" >
              <% @messages.each do |message| %>
                <small><i class="fas fa-exclamation-circle pr-2"></i>
                <%= message.user.name%>さんのコメント　<%= message.content %></small></br>
              <% end %>
          </div>
        <% end %>
        
      </div>
      
      <div class="col-2 border-bottom">
        <%= render "users/user_status2" %>
      </div>
  </div>
</div>
