<!--ユーザーコメント-->
<div class="media bg-white p-2 mb-3">
    
    <!--ユーザー画像-->
    <% if comment.user.image.present? %>
        <%= image_tag(comment.user.image.url, class:"rounded-circle", width:"40" ,height:"40") %>
    <% else %>
        <%= image_tag("user_image.jpg", class:"rounded-circle", width:"40" ,height:"40") %>
    <% end %>
      
    <div class="media-body ml-2 ">
      <h6 class="mt-0" > 
      
        <!--ユーザー名-->
        <%= link_to comment.user.name, user_path(comment.user) , class:"text-dark" %>
        <small class="text-muted"><%= comment.created_at %></small>
        
        <%#= "comment.id : #{comment.id}  post_id #{comment.post.id}" %>
        
        <!--削除ボタン-->
        <% if comment_destroy(comment) %>
            <%= link_to "削除", comment_path(comment), method: :delete, class:"text-danger"%>
        <% end %>
        
        
        
      </h6>
      
     <tx class=""><%= comment.content %></tx>  
    </div>
 </div>
