<div class="border p-3">
  <div>
    <h5 class="border-bottom-dashed2 p-1"><b>自分の棚</b></h5>
  </div>
  
  <div class="mt-2">
     <!--検索フォーム-->
    <%= form_tag(post_search_path,:method => 'get' , class:"", id:"search") do %>
       <%= text_field_tag :search ,:"", class: "text-muted border p-1 w-100", placeholder: "検索"%>
       <%#= submit_tag 'Search', :name => nil %>
    <% end %>
  </div>

  
  <div class="mt-2">
  
    <!--お気に入りページ-->
    <div>
      <%= link_to like_path(@user) do  %>
        <span class="text-danger">お気に入り</span>
        <span class="badge badge-danger badge-pill"><%= @user.likes.count %></span>
      <% end %>
    </div>
    
    
    <!--コメントページ-->
    <div>
      <%= link_to comment_path(@user) do  %>
        <span class="text-success">コメント</span>
        <span class="badge badge-success badge-pill"><%= @user.comments.count %></span>
      <% end %>
    </div>
    
    <!--コメントページ-->
    <div>
      <%= link_to "#" do  %>
        <span class="text-primary">メッセージ</span>
        <span class="badge badge-primary badge-pill">115<%=  %></span>
      <% end %>
    </div>
    
    <!--自分が保存したロケーションの数-->
    <%= link_to "おすすめスポット", "#", class:"text-dark" %></br>
  </div>
</div>