<!--トップ画-->
<%= render "layouts/top_image"%>

<!--メインバー-->
<%= render "layouts/main_bar"%>


<div class="container">

  <h1>ユーザープロフィール</h1>
  <p>Find me in app/views/users/show.html.erb</p>

  <div class="row"> 
      <div class="col-3 ">
        <p class="border-bottom">ユーザープロフィール</p>
        
        <% if @user %>
            <!--ユーザープロフィール-->
            <%= render @user %>
            
            <!--ユーザーステータス--> 
            <p class="border-bottom">ユーザーリンク</p>
            <%= render "users/user_status" %>
        <% end %>
        
      </div>
      
      <div class="col-7 border-bottom">
        <p  class="border-bottom">投稿一覧</p>
        
        <!--コメント一覧-->
        <%= render "users/message"%>
        
        
        <!--記事の作成数-->
        <% if !@posts.nil? %>
            <%= render @posts %>
            <%= paginate  @posts, window: 2 %>
        <% else %>
            <p>まだ記事がありません</p>
            <%# link_to "記事を作成する", new_post_path , class:"" %>
        <% end %>
      </div>
      
      <div class="col-2 border-bottom">
        <p  class="border-bottom">記事の作成</p>
        <% if current_user?(@user) %>
          <%= render "users/user_status2" %>
        <% end %>

      </div>
  </div>
</div>
