<!--トップ画-->
<%= render "layouts/top_image"%>

<!--メインバー-->
<%= render "layouts/main_bar"%>


<div class="container">

  
  <%= render "shared/status_bar"%>

  <div class="row"> 
      <div class="col-3 ">
        <p class="border-bottom"><b>ユーザープロフィール</b></p>
        
        <!--ユーザープロフィール-->
        <%= render @user %>
        
        <!--ユーザーステータス-->
        <%= render "users/user_status" %>
      </div>
      
      <div class="col-7">
        
        <!--メッセージフィード-->
        <%= render "messages/message_feed"%>
        
        
        <!--記事の作成数-->
        <p  class="border-bottom"><b>投稿一覧</b></p>
        <% if !@posts.nil? %>
            <%= render @posts %>
            <%= paginate  @posts, window: 2 %>
        <% else %>
            <p>まだ記事がありません</p>
            <%# link_to "記事を作成する", new_post_path , class:"" %>
        <% end %>
      </div>
      
      <div class="col-2 border-bottom">
        <%= render "users/user_status2" %>
      </div>
  </div>
</div>

