<!--まとめ記事作成サイト-->
<a href="https://2mtmex.com/" >まとめくす </a>

      <%= form_for(@eventpost) do |f| %>

        <%= render 'shared/error_messages' , object: f.object %>
        
        <div class="mt-3">
          <div><b><%= f.label :タイトル %></b></div>
            <%= f.text_field :title , class:"w-100 border p-1" , id:"title" %>
        </div>
         
        <div class="mt-3"> 
          <div><b><%= f.label :サブタイトル %></b></div>
          <%= f.text_area :sub_title, class: 'border w-100 p-1', id:"sub_title", "rows" => 8 , placeholder: "記事を挿入して下さい" %>
        </div>
        
        <div class="mt-3">
          <div><b><%= f.label :記事の内容 %></b></div>
          <%= f.text_area :content, class: 'border w-100 p-1', id:"content", "rows" => 15 , placeholder: "記事を挿入して下さい" %>
        </div>
        
        
        <% @category = Category.all %>
        <div>
          <div><b><%= f.label :カテゴリー %></b></div>
          <%= f.collection_select :category_id, @category, :id, :name  %>
        </div>
        
        <!--プレビュー-->
        <div class="float-left mt-3">
          <%#= f.submit "作成", class: "btn btn-dark" %>
          <div class="btn btn-danger " id="preview">プレビュー</div>
        </div>
         <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
        
        <div class="text-right mt-3">
          <%= f.submit "作成", class: "btn btn-dark" %>
        </div>
        
      <% end %>
