
<!--トップ画-->
<%= render "layouts/top_image"%>

<!--メインバー-->
<%= render "layouts/main_bar"%>


<div class="conteiner ">

  <!--ヘッドライン-->
  <div class="mt-2 mb-2">
    <%= render "static_pages/popular3" %>
  </div>

  <div class="row"> 
  
      <!--サイドバー-->
      <div class="col-2 pr-1">
      
        <!--blogs-->
        <%= render "static_pages/blogs" %>
        <p class="bg-black text-white p-1">人気の記事</p>
        <%= render "static_pages/popular" %>
      </div>
        
      <!--メイン-->
      <div class="col-7 pl-2 pr-0">
        
          <!--ヘッドライン-->
          <%= render "static_pages/headline" %>
          
          <!--記事表示-->
          <div class="mt-3">
          </div>
          <!--タイトル-->
          <%= render @eventpost %>

        　<!--メイン-->
        　<div class="pr-3 pl-3">
          　<%= @eventpost.content.html_safe %>
          </div>
          
          <!--転載元-->
          <div class="text-secondary text-right mt-3 mb-3">
            <% if @eventpost.reproduction_url %>
              <span>引用元: <%= @eventpost.reproduction_url %></span>
            <% end %>
          </div>

          <!--シェア-->
          <%= render "eventposts/share_form", eventpost: @eventpost %>

        　<!--おすすめ-->
        　<h4 class=" border-left-insert p-2"><b>おすすめ記事一覧</b></h4>
        　<%= render "static_pages/recommend"%>
        　
          <!--人気記事一覧-->
          <h4 class=" border-left-insert p-2"><b>人気記事ランキング</b></h4>
          <%= render "static_pages/popular2"%>
        　
          <!--コメント-->
          <div class="mt-5">
            <h4 class="bg-light border-left-insert p-2"><b>コメント</b></h4>
            <div>※記事と関係のないコメント、連投は削除規制対象です</div>   
            <% @i = 0 %>
            <%= render @eventpost_comments  %>
            　
            <!--コメントフォーム-->
            <%= render "eventpost_comments/ep_comment_form" %>
          </div>
      </div>
  
      <!--サイドバー-->
      <div class="col-3 pr-3 pl-3 col-md-offset-1">
      
        <!--管理人プロフィール-->
        <div class="bg-black text-white p-1">管理人</div>
        <%= render "static_pages/admin"%>
        
        <!--記事の検索-->
        <div class= "">
          <%= render "static_pages/search_form"%>
        </div>
        
        <!--人気記事一覧　-->
        <p class="bg-black text-white p-1 mt-3">人気の記事</p>
        <div class="">
          <%#= render "static_pages/popular3" %>
          <%= render "static_pages/feed" %>
        </div>

        <!--カテゴリー-->
        <div>
          <%= render "categorys/categorys"%>
      　</div>
      　
      　<!--アーカイブ-->
      　<div>
          <%= render "static_pages/archives"%>
      　</div>
      </div>
      
    </div>
</div>

