
<!--トップ画-->
<%= render "layouts/top_image"%>

<!--メインバー-->
<%= render "layouts/main_bar"%>


<div class="container ">

  <h1>Eventposts#show</h1>
  <p>Find me in app/views/eventposts/show.html.erb</p>
  
  <div class="row"> 
  
      <div class="col-2 ">
        <p class="bg-black text-white p-1">人気の記事</p>
        <%= render "static_pages/popular" %>
      </div>
        
      <div class="col-7 border-bottom">
        
          <!--記事表示-->
          <p class="border-bottom">最新の記事</p>
        　
        　<!--タイトル-->
        　<%= render @eventpost %>
        　
        　
        　<!--メイン-->
        　<%= @eventpost.content.html_safe %>
        　
        　<!--シェア--> 　
        　<%#= render "eventposts/share_form"%>
        　<%= render "eventposts/share_form", eventpost: @eventpost %>

        　
        　<!--おすすめ-->
        　<h4 class=" border-left-insert p-2"><b>おすすめ記事一覧</b></h4>
        　<%= render "static_pages/recommend"%>
        　
        　<!--人気記事一覧-->
        　<h4 class=" border-left-insert p-2"><b>人気記事ランキング</b></h4>
        　<p class="text-danger">保留!!今後考える</p>
        　<%#= render "static_pages/popular"%>
        　
          <!--コメント-->
          <div class="">
            <h4 class="bg-light border-left-insert p-2"><b>コメント</b></h4>
            <div>記事と関係のないコメント、連投は削除規制対象です</div>      　
            <%= render @eventpost_comments  %>
            　
            <!--コメントフォーム-->
            <%= render "eventpost_comments/ep_comment_form" %>
          </div>
      </div>
  
      <div class="col-3 pr-3 pl-3">
        
          <!--管理人プロフィール-->
          <div class="bg-black text-white p-1">管理人</div>
          <%= render "static_pages/admin"%>
        　
          <!--記事の検索    -->
        　<div class= "">
          　<%= render "static_pages/search_form"%>
        　</div>
          　
          <!--人気記事一覧　-->
          <p class="bg-black text-white p-1">人気の記事</p>
          <div class="bg-light">
            <% 5.times do %>
              <%= render "static_pages/feed" %>
            <% end %>
          </div>
          
          <!--カテゴリー-->
          <div>
            <%= render "categorys/categorys"%>
        　</div>
        　
        　<!--アーカイブ-->
        　<div>
            <%#= render "static_pages/archives"%>
        　</div>
      　
      </div>
      
    </div>
</div>