<div class="mt-2" >

  <!--ポストステータス-->
  <div class="border p-2">
    <small><b>作成日: </b><%= @post.created_at %></small></br>
    <small><b>撮影地: </b><%= @post.location? ? " #{@post.location}": "不明" %></small></br>
  </div>
  
  
  <div>
    <div class="mt-3" id="like_form" >
    
        <!--ログインユーザーのいいねボタン-->
        <% if !current_user.nil? %>
            <% post = @post %>
            <% if @like = current_user.likes.find_by(post: @post ) %>
              <%= render "likes/unlike" , post: @post %>
            <% else %>
              <%= render "likes/like", post: @post %>
            <% end %>
        <% else %>
        
            <!--ログインユーザー以外のいいねボタン-->
            <%= link_to "#",class:"" , id:"like" do%>
              <div class=" p-3 rounded-pill text-center bg-heart w-100" id="like">
                <i class="far fa-heart" id=""> <%= @post.likes.count %></i>
              </div>
              <% end %>
        <% end %>
    </div>
    
    <div class="mt-3 p-3 rounded-pill border">
      <i class="fas fa-bullseye w-50">  35</i> 
      <i class="far fa-comment border-left "><b> <%= @post.comments.count %></b>  </i>
    </div>
  </div>
</div>