<!--トップ画-->
<%= render "layouts/top_image"%>

<!--メインバー-->
<%= render "layouts/main_bar"%>


<div class="conteiner">

  <%= render "shared/status_bar"%>

  <div class="row"> 
      <div class="col-3 ">
        <p class="border-bottom"><b>ユーザープロフィール</b></p>
        
        <!--ユーザープロフィール-->
        <% @user = current_user %>
        <%= render @user %>
        
        <!--ユーザーステータス--> 
        <%= render "users/user_status" %>
        
      </div>
      
      <div class="col-8">
        <p  class="border-bottom"><b>投稿編集</b></p>
          <!--投稿フォーム-->
          <%= render "posts/post_form" %>
      </div>
  </div>
</div>
