<!--トップ画-->
<%= render "layouts/top_image"%>

<!--メインバー-->
<%= render "layouts/main_bar"%>


<div class="container">
  <div class="row"> 
      <div class="col-3 ">
        <p class="border-bottom">ユーザー詳細</p>
        
        <!--ユーザープロフィール-->
        <% @user = current_user %>
        <%= render @user %>
        
        <!--ユーザーステータス--> 
        <p class="border-bottom">ユーザーリンク</p>
        <%= render "users/user_status" %>
        
      </div>
      
      <div class="col-9 border-bottom">
        <p  class="border-bottom">投稿編集</p>
          <!--投稿フォーム-->
          <%= render "posts/post_form" %>
      </div>
  </div>
</div>
