<!--トップ画-->
<%= render "layouts/top_image"%>

<!--メインバー-->
<%= render "layouts/main_bar"%>

<div class="container">
<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<div class="row"> 
    <div class="col-2 ">
      <p class="border-bottom">人気の写真</p>
      
      <% if @user %>
          <!--ユーザープロフィール-->
          <%= render @user %>
          
          <!--ユーザーステータス--> 
          <p class="border-bottom">ユーザーリンク</p>
          <%= render "users/user_status" %>
      <% end %>
      
      <div>
        <p>人気の写真5個まで</p>
            <%= render @posts %>
      </div>
      
    </div>
    
    <div class="col-9 border-bottom">
      <p  class="border-bottom">写真一覧</p>
      
      <%= render @posts %>
      <%= paginate  @posts, window: 2 %>
    </div>
</div>
</div>
