<!--トップ画-->
<%= render "layouts/top_image"%>

<!--メインバー-->
<%= render "layouts/main_bar"%>

<div class="conteiner">
    
    
    <!--検索フォーム-->
    <%= render "posts/search_form" %>

  
    <div class="row"> 
            
        <!--写真一覧ページ-->
        <div class="col-12 m-auto">
          <p  class="border-bottom"></p>
          
          <% @posts.each do |post| %>
            <picture>
              <%= link_to post, class:"text-white" do %>
              
                <!--// 画像があるときは画像を表示する-->
                <% if post.picture.thumb.present? %>
                  <%= image_tag(post.picture.url(:thumb) , class:"image_form m-1", id:"link-image", width:"32%" ,height:"250" ) %>
                <% else %>
                  <%= image_tag("no_image.jpg" , class:"img-fluid m-1", id:"link-image" , width:"32%" ,height:"250" ) %>
                <% end %>
              
              <% end %>
            </picture>
          <% end %>
          
          <%= paginate  @posts, window: 2 %>
          
        </div>
    </div>
</div>