<!--トップ画-->
<%#= render "layouts/top_image"%>

<!--メインバー-->
<%= render "layouts/main_bar"%>

<div class="container">
  <!--<h1>鉄道写真投稿ページ</h1>-->
  <div class="row"> 
    <div class="col-9 border-bottom">
                
          <p  class="border-bottom">投稿画像</p>
          
          <nav class="navbar navbar-light pr-5">
          
            <!--タイトル-->
            <h3><b><%= @post.title %></b></h3>
            
            <% if post_user(@post) %>
              <ul class="nav justify-content-end ">
              
                <!--編集ボタン-->
                <li class="nav-item mr-2">
                  <%= link_to "編集", edit_post_path(@post), class:"btn btn-outline-success"%>
                </li>
                
                <!--削除ボタン-->
                <li class="nav-item ">
                  <%= link_to "削除",  post_path(@post), method: :delete, class:"btn btn-outline-danger"%>
                </li>
                
              </ul> 
            <% end %>
          </nav>
          <!--画像-->
          <div class="pr-5 pb-1 pl-5">
            <% if @post.picture.present? %>
              <%= image_tag(@post.picture.url , class:"img-fluid ") %>
            <% else %>
              <%= image_tag("no_image.jpg", class:"img-fluid ")%>
            <% end %>
          </div>
          
          
          
          <!--テキスト-->
          <div class="p-3 mb-3 ml-5">
              <span><%= @post.content %></span>
          </div>
          
          <!--コメント-->
          <div class="p-3 ml-5">
          <p  class=" border-bottom text-dark">みんなのコメント</p>
            <% if !@comments.nil?  %>
                  <%= render  @comments %>
                  <%= paginate  @comments, window: 2 %>
            <% end %>
            <%= render "comments/comment_form"%>
            
            
            <!--他の写真-->
            <!--<p  class="bg-black text-white p-2"><%#= @post.user.name %>さんの他の写真</p>-->
          </div>
          
          
      </div>
  
      <div class="col-3 ">
        <p class="border-bottom">画像詳細</p>
        
        
        <h3 class="text-white"><b><%= @post.title %></b></h3>
        
        <!--ユーザープロフィール-->
        <% @user = @post.user %>
        <%= render @user %>
        
        <!--ユーザーステータス-->
        <!--<p class="border-bottom">ユーザーリンク</p>-->
        <%#= render "users/user_status" %>
        
        <!--ポストステータス-->
        <p class="border-bottom">ポストステータス</p>
        <%= render "posts/post_status" %>
        
        
      </div>
  </div>
  
  
  <!--その他人気の写真-->
  <div class="mt-5 mb-5">
    <p><spna class=""><b><%= @post.user.name %>さん</b>のその他人気の画像</spna></p>
    <% 8.times do %>
      <%= render @post %>
    <% end %>
  </div>
  
</div>
