<!--トップ画-->
<%= render "layouts/top_image"%>

<!--メインバー-->
<%= render "layouts/main_bar"%>



<div class="conteiner">

  <%= render "shared/status_bar" %>

  <div class="row"> 
      <div class="col-3 ">
        <p class="border-bottom"><b>ユーザープロフィール</b></p>
        
        <% if @user %>
            <!--ユーザープロフィール-->
            <%= render @user %>
            
            <!--ユーザーステータス--> 
            <%= render "users/user_status" %>
        <% end %>
        
      </div>
      
      <div class="col-7 ">
      
        <!--カテゴリ一覧-->
        <p  class="border-bottom"><b>カテゴリー一覧</b></p>
        <% @categorys.each do |category| %>
            <div>
              <span><%= category.id  %></span>
              <span><%= category.name  %></span>
              <span class="float-right"><%= link_to "削除", category, method: :delete, class:"text-danger"  %></span>
            </div>
        <% end %>
        
        
        
        
        
        <!--カテゴリーの新規作成-->
        <%= render "categorys/category_form" %>
      </div>
      
      
         
      <div class="col-2 border-bottom">
      <!--ユーザーステータス2-->
      <%= render "users/user_status2" %>
        
      </div>
  </div>
</div>
