<header class="bg-black">
  <div class="container ">
    <!--<h5 class="text-white float-left">鉄オタ速報</h5>-->
    
    <nav class="nav navbar-expand-sm p-0">
    
      <ul class="navbar-nav  mr-auto">
              <li class="navbar-item p-0" id="link" >
                <span class="text-white">鉄オタ速報 </span>
              </li>
          </ul>
        
        <ul class="navbar-nav justify-content-end ">　

               
                
                <!--#ドロップアウトボタンの追加-->
              <% if !current_user.nil?  %>
              
                <li class="nav-link p-0" data-toggle="dropdown"  >  
                  <small class="nav-link p-1 text-white" id="link" style="cursor: hand; cursor:pointer;">
                    <!--管理者ユーザーのみ反映-->
                    <% if current_user.admin? %>
                      <span class="badge badge-danger badge-pill">管理者</span>
                    <% end %>
                    <%= current_user.name %>　メニュー<i class="fas fa-caret-down"></i>
                    
                    <!--メッセージ通知機能(非表示)-->
                    <%#= render "shared/message_notice"%>
                  </small>
              
                </li>    
                      
                 
                <ul class="dropdown-menu ">
                  <li><%= link_to "お知らせ", message_path(current_user) ,class:"dropdown-item"%></li>
                  <li><%= link_to "マイページ", current_user ,class:"dropdown-item"%></li>
                  <!--<li><%= link_to "投稿一覧", posts_path ,class:"dropdown-item" %></li>-->
                  <li><%= link_to "設定", edit_user_path(current_user), class:"dropdown-item" %></li>
                  
                  <li class="divider border-bottom border-light p-1"></li>
                  <li><%= link_to "ログアウト", logout_path, method: :delete, class:"dropdown-item" %></li>
                </ul>
                  
            <% else %>
                <small><%= link_to "新規登録", signup_path ,class:"nav-link text-white p-1" ,id:"link" %></small>
                <small><%= link_to "ログイン", login_path ,class:"nav-link text-white p-1" ,id:"link" %></small>     
            <% end %>
        </ul>
    </nav>
  </div>
</header>